/* This works! */
.ltx_adjustwidth50pt50pt {
    margin-left: 10% !important; 
    margin-right: 10% !important; 
    width: 80% !important;
    text-align: justify !important;
    text-indent: 0 !important;
}

.ltx_adjustwidth60pt60pt {
    margin-left: 12% !important; 
    margin-right: 12% !important; 
    width: 76% !important;
    text-align: justify !important;
    text-indent: 0 !important;
}

.ltx_vspace10mm {
    margin-top: 10mm
}

.ltx_noindent {
    text-indent: 0 !important;
}

.ltx_title1 {
    justify-content: center !important;
    text-align: center !important;
}

/* Add a rule to justify all text

